@page "/academy/learning/mlsy/route"

<PageTitle>ML SY Route</PageTitle>

<h1 class="fontb">Mebourne to Sydney</h1>
<p class="fonta">Below you will find various details about your flight including: callsign, route, aircraft and more!</p>

<ul class="fonta">
    <li>Callsign: QFA478 (Qantas four-seventy eight)</li>
    <li>Aircraft: B738 (Boeing 737-800)</li>
    <li>Departure: YMML (Melbourne)</li>
    <li>Arrival: YSSY (Sydney)</li>
    <li>Route: DOSEL Y59 RIVET</li>
    <li>Cruising Altitude: FL350 (35,000 feet)</li>
</ul>

<p class="fonta">Some thinks you need to know:</p>
<ul class="fonta">
    <li>In Austrailia, pilots do not file their SID (Standard Instrument Departure) or STAR (Standard Arrival Route) as part of their flight plan. ATC will assign this to
        you in the airways clearance.</li>
    <li>For this tutorial we are assuming all stations to be online. If, while connected to VATSIM, not all stations are online, the next highest position will provide those services.</li>
</ul>

<a href="academy/learning/mlsy">
<input type="button" value="Back" class="btn btn-primary"/>
</a>

<a href="academy/learning/mlsy/delivery">
<input type="button" value="Next" class="btn btn-primary"/>
</a>