@page "/academy"

<PageTitle>Academy Dashboard</PageTitle>

<h1 class="fontb">Welcome to the VATPC Academy!</h1>

<div class="shadow">
    <h2 class="fontb boxtxt">Your Progress</h2>
    <hr>
    <p class="fonta boxtxt">reserved</p>
</div>