@page "/academy/learning"

<PageTitle>Learning Path Home</PageTitle>

<div class="shadow">
    <h1 class="boxtxt fontb">Learning Paths</h1>
    <hr>
    <p class="boxtxt fonta">Below are various learning paths that you can choose to enhance you pilot to ATC communication skills. Each path simulates a different flight
        and route. The simulation is from a pilots perspective. The website will act as your controller and you will be the pilot. There will be different stages of the flight
        with each a different response. You can contruct your own response by clicking on the buttons. After answering there will be a brief explaination. For more information
        on the material, visit the 'Communication Explained' section of the website.
    </p>
</div>
<br>
<div class="shadow">
    <h2 class="boxtxt fontb">Choose your flight</h2>
    <hr>
    <NavLink class="hover" style="margin-left: 10px;" href="academy/learning/mlsy">Melbourne to Sydney</NavLink>
</div>