@page "/academy/vatsim"

<PageTitle>What is VATSIM?</PageTitle>



<div class="shadow">
    <h1 class='fontb boxtxt'>What is VATSIM?</h1>
    <hr>
    <p class="fonta boxtxt">VATSIM is an online network started in July 2001 to simulate the most realistic experience possible. VATSIM allows you to connect your flight simulator
        to the virtual skies. This allows you to see other pilots. In addition to a profession pilot environment, VATSIM also simulates air traffic control (ATC). ATC officers are
        trained locally in their division to ensure the most professional service. With over 100,000 active members, you can expect to be surrounded by other pilots. VATSIM caters 
        people young and old, new and experienced. Our mission here at VATPC is to make sure you will gain experience so that you may connect to the network with the fullest
        confidence.
    </p>
    <p class="fonta boxtxt">Aside from simulating ATC, VATSIM also simulates all the inbetweens of the aviation industry. With air traffic control to guide you to your
        destination, and virtual airlines to enhance you skills as a pilot, VATSIM is guanranteed to be your happy place. VATSIM is here for all to enjoy, however you want.
        This is the start of your VATSIM journey! Welcome aboard!
    </p>
</div>