@page "/"

<PageTitle>Index</PageTitle>

<h1 class="fontb">Welcome to the VATSIM Pilot Centre</h1>

<p class="fonta">DISCLAIMER: VATPC is intended for use in the VATSIM flight simulation community only. Information on this website and any of its services is
not to be used in real world aviation services. FOR FLIGHT SIMULATION USE ONLY.</p>

<div class="shadow indent">
    <h2 class="fontb boxtxt">What is VATPC?</h2>
    <hr>
    <p class="fonta boxtxt">VATSIM Pilot Centre (VATPC) is a platform which helps you develop your ATC Communication on the network. With fully interactive pages, we guarantee
        you will have fun while learning. VATPC is centred around teaching new flight simmers the ropes of getting on the network. We teach you basic to advanced ATC Communication and
        provide training like no other service.
        <br>
    </p>
    <p class="fonta boxtxt">
        In addition to teaching Pilot to ATC Communication, we also teach you the basics of VATSIM and how to thrive on the network. After completing this program, you will be able
        to: Set up you pilot client properly, know how to utilize the VATSIM network for everybody's fun, and be fully confident in your communication with Air Traffic Control.
    </p>
    <p class="fonta boxtxt">Wishing you safe skies, VATPC</p>
</div>