@inherits LayoutComponentBase

<PageTitle>VATPC</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 fonta">
            <p>VATPC is not affiliated with VATSIM</p><p>FOR FLIGHT SIMULATION USE ONLY</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
