@page "/academy/learning/mlsy"

<PageTitle>Melbourne to Sydney</PageTitle>

<h1 class="fontb">Flight: Melbourne to Sydney</h1>
<h5 class="fontb">Welcome to your flight from Melbourne (YMML) to Sydney (YSSY). On this flight we will look into the basics of your flight plan, metars, ATIS', and all the
    stages of your flight from cold and dark to shutdown! Welcome Aboard Captain! Click below to get started!
</h5>
<br>
<a href="academy/learning/mlsy/route">
<input type="button" value="Begin!" class="btn btn-primary"/>
</a>